/* 
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)


font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: hsl(0, 0%, 95%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
main {
	padding: 20px;
	margin: auto;
}
.sedans {
	background-color: hsl(31, 77%, 52%);
	color: hsl(31, 77%, 52%);
}
.suvs {
	background-color: hsl(184, 100%, 22%);
	color: hsl(184, 100%, 22%);
}
.luxury {
	background-color: hsl(179, 100%, 13%);
	color: hsl(179, 100%, 13%);
}
.card {
	font-family: 'Lexend Deca', sans-serif;
	padding: 50px;
	max-width: 335px;
}
.card:nth-of-type(1) {
	border-radius: 10px 10px 0 0;
}
.card:nth-last-of-type(1) {
	border-radius: 0 0 10px 10px;
}
.card h2 {
	font-family: 'Big Shoulders Display', cursive;
	color: hsl(0, 0%, 95%);
	margin: 25px 0;
	text-transform: uppercase;
	font-size: 2.4rem;
}
.card p {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.7;
	font-size: 0.9375rem;
}
.card button {
	font-family: inherit;
	background-color: hsl(0, 0%, 95%);
	border: none;
	text-decoration: none;
	color: inherit;
	margin-top: 20px;
	border-radius: 40px;
	width: 134px;
	height: 46px;
}
.card button:hover,
.card button:focus {
	transition: background-color ease 0.3s, color ease 0.3s;
	border: hsla(0, 0%, 100%, 0.75) solid 2px;
	background-color: transparent;
	color: hsla(0, 0%, 100%, 0.75);
	cursor: pointer;
}
@media only screen and (min-width: 1024px) {
	main {
		display: flex;
		margin: 150px auto auto;
	}
	.card:nth-of-type(1) {
		border-radius: 10px 0 0 10px;
	}
	.card:nth-last-of-type(1) {
		border-radius: 0 10px 10px 0;
	}
	.card button {
		margin-top: 70px;
	}
}
